config/local.js
node_modules
.tmp

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history
dump.rdb

npm-debug.log.*
lib-cov
*.seed
*.log
*.out
*.pid
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/01_envvar.config
