@import '../lib/vars';

.uri-list-item {
  height: 50px;
  line-height: 50px;
  background: $background-1;
  box-shadow: $shadow-0;

  .uri {
    display: inline-block;
    font-size: 16px;
  }
  & > .button.icon {
    margin: 5px;
  }
}