@import 'lib/default';
@import 'shared/twopanels';

.nav {
  header {
    height: 50px;
    line-height: 50px;
    padding: 0 14px;
  }
}
.content {
  padding: 14px 0 42px 0;
  position: relative;

  .error-box {
    height: 30px;
    line-height: 30px;
    background: $red;
    color: white;
    padding: 0 14px;
    margin: -14px 0 8px 0;
  }
  & > header {
    padding: 0 14px;

    h1 {
      text-shadow: 1px 1px 2px $black-3;
    }
    h2 {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-size: 16px;
      margin-top: 4px;
      color: $text-dark-2;
      text-shadow: 1px 1px 2px $black-4;
    }
  }
  .list {
    margin: 20px 14px;
    padding: 0;
    list-style: none;
    // overflow: hidden;
  }
  &.working {
    & > .progress {
      top: 0;
      height: 4px;
    }
  }
}
