<% var key, item %>
<% htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>River of Ebooks | admin</title>
    <base href="/">
    <% for (item of htmlWebpackPlugin.options.links) {
      if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
      <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> /><%
    } %>
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
