<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>River of Ebooks</title>
    <base href="/">
    <link rel="stylesheet" href="index.css" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1" />
  </head>
  <body class='home flex-container flex-vertical'>
    <%- partial('../shared/header.html') %>
    <main class="flex">
      <% if (content) { %>
        <%- content %>
      <% } %>
    </main>
    <%- partial('../shared/footer.html') %>
  </body>
</html>
